:root {
    --thumb: rgb(153, 153, 153);
    --thumbhover: rgb(123, 123, 123);

    --color-TBD-bg-gradient-light: radial-gradient(175% 125% at 50% 0%, rgba(14, 165, 233, 0.45) 0%, rgba(235, 232, 230, 0.25) 66%, rgba(157, 136, 0, 0.15) 100%);
    --color-TBD-bg-gradient-dark: radial-gradient(175% 125% at 50% 0%, rgba(15, 24, 36, 0.85) 0%, rgba(30, 34, 56, 0.85) 63%, rgba(20, 40, 45, 1) 100%);

    --color-TBD-bg-light: rgb(250, 250, 250);
    --color-TBD-bg-dark: rgb(1, 5, 10);

    --color-TBD-text-dark: rgb(51, 47, 43);
    --color-TBD-text-light: rgb(216, 217, 218);

    --color-TBD-fipu-blue-default: rgb(14, 165, 233);
    --color-TBD-fipu-blue-dark: rgb(4, 100, 145);

    --color-TBD-fipu-green-default: rgb(4, 175, 118);
    --color-TBD-fipu-green-dark: rgb(6, 137, 65);

    --color-TBD-fipu-orange-default: rgb(223, 111, 7);
    --color-TBD-fipu-orange-dark: rgb(146, 81, 1);

    --color-TBD-fipu-yellow-default: rgb(157, 136, 0);

    --color-TBD-fipu-red-default: rgb(210, 15, 76);
    --color-TBD-fipu-red-dark: rgb(169, 10, 68);

    
    --thumb-rgb: 153, 153, 153;
    --thumbhover-rgb: 123, 123, 123;

    --color-TBD-bg-light-rgb: 250, 250, 250;
    --color-TBD-bg-dark-rgb: 1, 5, 10;

    --color-TBD-text-dark-rgb: 51, 47, 43;
    --color-TBD-text-light-rgb: 216, 217, 218;

    --color-TBD-fipu-blue-default-rgb: 14, 165, 233;
    --color-TBD-fipu-blue-dark-rgb: 4, 100, 145;

    --color-TBD-fipu-green-default-rgb: 4, 175, 118;
    --color-TBD-fipu-green-dark-rgb: 6, 137, 65;

    --color-TBD-fipu-orange-default-rgb: 223, 111, 7;
    --color-TBD-fipu-orange-dark-rgb: 146, 81, 1;

    --color-TBD-fipu-yellow-default-rgb: 157, 136, 0;

    --color-TBD-fipu-red-default-rgb: 210, 15, 76;
    --color-TBD-fipu-red-dark-rgb: 169, 10, 68;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--thumbhover);
    cursor: default;
}


/* AUTOFILL FIX */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: all 10000000s;
}


/* PAGE TRANSITIONS */
.page-enter-active, .page-leave-active {
    transition: all 0.4s;
}
.page-enter-from, .page-leave-to {
    opacity: 0;
    filter: blur(0.5rem);
}
.layout-enter-active, .layout-leave-active {
    transition: all 0.4s;
}
.layout-enter-from, .layout-leave-to {
    opacity: 0;
    filter: blur(1rem);
    transform: translate(-50px, 0);
}